<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Two-Day Suitcase</title>
        <meta name="viewport" content="width=700, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-44885921-1', 'twodaysuitcase.com');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="site">
          <div class="header">
            <h1 class="title">{{ site.name }}</h1>
            <a href="{{ site.url }}/"><img src="/images/two-day_suitcase_logo_490x315.png" width="490" height="315"></a>
            <span class="social-links">
              <a href="http://www.facebook.com/twodaysuitcase"><img src="/images/facebook-logo-square.png" title="facebook.com/twodaysuitcase"></a>
              <a href="http://twitter.com/TwoDaySuitcase"><img src="/images/twitter-logo-square.png" title="twitter.com/TwoDaySuitcase"></a>
            </span>
          </div>

          {{ content }}

          <div class="footer">
            <div class="left">
              <p>
                Two-Day Suitcase<br />
                Genuine music from the soul<br />
              </p>
            </div>
            <div class="right">
              <p>
                <a href="http://twodaysuitcase.bandcamp.com/">twodaysuitcase.bandcamp.com</a><br>
                <a href="http://www.facebook.com/twodaysuitcase">facebook.com/twodaysuitcase</a><br>
                <a href="http://twitter.com/TwoDaySuitcase">twitter.com/TwoDaySuitcase</a><br>
                <a href="http://sonicbids.com/twodaysuitcase">press &amp; booking info @ sonicbids.com</a><br>
                <br>
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
